# http://alexbilbie.com/2014/07/using-ansible-with-a-bastion-host/
Host bastion
    User                   ec2-user
    HostName               ec2-54-172-195-189.compute-1.amazonaws.com
    ProxyCommand           none
    IdentityFile           /Users/sam/.ssh/akuja-keypair
    BatchMode              yes
    PasswordAuthentication no
    ForwardAgent           yes

Host *.ec2.internal
    ProxyCommand           ssh -q -A ec2-user@ec2-54-172-195-189.compute-1.amazonaws.com nc %h %p
    ControlMaster          auto
    ControlPath            ~/.ssh/mux-%r@%h:%p
    ControlPersist         8h
    IdentityFile           /Users/sam/.ssh/akuja-keypair
    User                   ec2-user
    ServerAliveInterval    60
    TCPKeepAlive           yes
    StrictHostKeyChecking no
    PasswordAuthentication no
    LogLevel FATAL

Host 172.12.8.*
    User core
    UserKnownHostsFile /dev/null
    StrictHostKeyChecking no
    PasswordAuthentication no
    IdentityFile /Users/sam/.vagrant.d/insecure_private_key
    IdentitiesOnly yes
    LogLevel FATAL

Host 127.0.0.1
    User docker
    UserKnownHostsFile /dev/null
    StrictHostKeyChecking no
    PasswordAuthentication no
    IdentityFile /Users/sam/.ssh/id_boot2docker
    IdentitiesOnly yes
    LogLevel FATAL
