[Unit]
Description=Announce Postgresql@%i service to etcd registration
Requires=etcd.service
Requires=postgresql@%i.service
BindsTo=postgresql@%i.service
After=etcd.service
After=postgresql@%i.service

[Service]
EnvironmentFile=/etc/environment
Environment="POSTGRESQL_PASS={{ lookup('password', '/tmp/postgresql chars=ascii_letters,digits,hexdigits length=24') }}" \
  "POSTGRESQL_DB=atp" \
  "POSTGRESQL_USER=atp"
ExecStart=/bin/bash -c '\
  while true; do \
    /usr/bin/docker exec -it db /usr/bin/psql -U ${POSTGRESQL_USER} ${POSTGRESQL_DB} -c \'select 1\'; \
    if [ $? -eq 0 ]; then \
      etcdctl set /services/postgresql/${COREOS_PRIVATE_IPV4} \'${COREOS_PRIVATE_IPV4}:%i\' --ttl 30; \
    else \
      etcdctl rm /services/postgresql/${COREOS_PRIVATE_IPV4}; \
    fi; \
    sleep 20; \
  done'
ExecStop=/usr/bin/etcdctl rm /services/postgresql/${COREOS_PRIVATE_IPV4}

[X-Fleet]
X-ConditionMachineOf=postgresql@%i.service

