[Unit]
Description=memcached
After=etcd.service
After=docker.service
Requires=docker.service

[Service]
Environment="MEMCACHED_PASS={{ lookup('password', '/tmp/memcached chars=ascii_letters,digits,hexdigits length=24') }}"
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill memcached-server
ExecStartPre=-/usr/bin/docker rm memcached-server
ExecStart=/usr/bin/docker run --rm \
  -e MEMCACHED_PASS=${MEMCACHED_PASS} \
  -p ${COREOS_PRIVATE_IPV4}:11211:11211 \
  --name memcached-server \
  tutum/memcached
ExecStop=/usr/bin/docker stop memcached-server

[Install]
WantedBy=multi-user.target

[X-Fleet]
Conflicts=memcached@*.service
