[Unit]
Description=Nginx load balancer for web server backends

# Requirements
Requires=etcd.service
Requires=docker.service

# Dependency ordering
After=etcd.service
After=docker.service

[Service]
# Let the process take awhile to start up (for first run Docker containers)
TimeoutStartSec=0
KillMode=none
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker kill lb
ExecStart=/usr/bin/docker run --rm \
  --name lb \
  -e HOST_IP=${COREOS_PRIVATE_IPV4} \
  -p ${COREOS_PUBLIC_IPV4}:80:80 \
  joemocha/load_balancer
ExecStop=/usr/bin/docker stop lb

[X-Fleet]
X-Conflicts=nginx.service
X-Conflicts=api@*.service
X-Conflicts=app@*.service
