[Unit]
Description=redis
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill redis-server
ExecStartPre=-/usr/bin/docker rm redis-server
ExecStart=/usr/bin/docker run --name redis-server redis
ExecStop=/usr/bin/docker stop redis-server

[Install]
WantedBy=multi-user.target
